@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body
{
    background-color: mediumseagreen;
    font-family: "Roboto", sans-serif;
    padding: 50px;
}

form
{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}

img
{
    padding: 50px;
    width: 300px;
}